# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Security / OAuth Configuration
JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FRONTEND_URL=http://localhost:4200
ALLOWED_ORIGINS=http://localhost:4200

# Server Configuration
SERVER_PORT=8081


